<div class="jumbotron center">
<h1>Bienvenido a mi Aplicación</h1>
<p> 
<%= link_to "Iniciar Sesión","#", class: 'btn btn-default btn-large'%>
<%= link_to "Registrate","#", class: 'btn btn-primary btn-large'%>
</p>
</div>
