<div class="jumbotron center">

<% if user_signed_in?%>
<h1>Bienvenido</h1>  <b><%= current_user.email %></b>
<%else%>
<h1>Bienvenido a AlphaEditor</h1>
<h4>Tu editor html mas confiable.</h4>
<p> 
<%= link_to "Registrate", new_user_registration_path, class: 'btn btn-primary btn-lg'%>
</p>
<%end%>
</div>
